---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroTitle from "../components/HeroTitle.astro";
import Topscroll from "../components/Topscroll.astro";
import NavButton from "../components/NavButton.astro";
import leftImage from "../assets/left.png";
import middleImage from "../assets/middle.png";
import rightImage from "../assets/right.png";
---

<BaseLayout title="About" withLoadingState={false}>
  <main>
    <p class="about-hero-top-title">Digital Designer & Developer</p>
    <p class="about-hero-top-subtitle">Clarity in design. Purpose in code.</p>
    <HeroTitle firstName="Mauro" lastName="Vangheluwe" />
    <div class="about-image-stack">
      <Image
        src={leftImage}
        alt="Mauro Vangheluwe portrait - left angle"
        class="img-left"
        widths={[140, 150, 180, 300]}
        sizes="(min-width: 64rem) 300px, (min-width: 48rem) 180px, (min-width: 35rem) 150px, 140px"
        format="webp"
      />
      <Image
        src={middleImage}
        alt="Mauro Vangheluwe portrait - center"
        class="img-middle"
        widths={[140, 150, 180, 300]}
        sizes="(min-width: 64rem) 300px, (min-width: 48rem) 180px, (min-width: 35rem) 150px, 140px"
        format="webp"
      />
      <Image
        src={rightImage}
        alt="Mauro Vangheluwe portrait - right angle"
        class="img-right"
        widths={[140, 150, 180, 300]}
        sizes="(min-width: 64rem) 300px, (min-width: 48rem) 180px, (min-width: 35rem) 150px, 140px"
        format="webp"
      />
    </div>
    <p class="about-h2-upcoming">Upcoming</p>
    <h2 class="about-h2">Digital Designer</h2>
    <h2 class="about-h2-sub">& Developer</h2>

    <div class="topscroll-cross-bottom">
      <div class="topscroll-wrapper-bottom topscroll-bottom-1">
        <Topscroll />
      </div>
      <div class="topscroll-wrapper-bottom topscroll-bottom-2">
        <Topscroll reverse={true} />
      </div>
    </div>
    <p class="about-description">
      Mauro is a Digital Designer and Developer with a passion for <span
        class="ab-descr-span">making ideas look good and work well</span
      >.
    </p>

    <svg
      class="signature"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 440.55 152.28"
    >
      <defs>
        <mask id="signature-reveal-mask">
          <rect width="100%" height="100%" fill="black"></rect>
          <path
            class="signature-mask-path"
            fill="none"
            stroke="white"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M199.8 96.08c-.16-33.28-7.82-29.04-16.41-94.94-.1-.75 1.23-.2 2.02 1.42 17.65 35.8 46.19 28.57 69.79 23.09 3.88-.91 8.84-1.73 9.39 3.39.43 18.6-.89 37.37-1.08 56.01-.76 15.66 4.83.6 7.74-4.5 3.08-5.61 4.41-30.03 10.82-25.81 10.36 8.82 20.72 35.36 30.7 44.6 3.73 3.74 8.59 5.88 11.65.17 6.11-11.74 3.37-26.05 4.52-38.87 2.56-36.05 36.51-34.51 53.24-8.44 12.14 18.98 24.79 40.45 22.47 63.7-2.14 21.8-18.66 35.77-40.47 35.88-7.84.24-15.93-1.64-24.06-2.62C151.52 126.54 135.55 92.6 58.45 59.3 48.02 54.2 36.9 47.1 33.41 35.64 29.05 21.61 38.97 7.47 52.13 1.56c6.83-3.14 58.46 1.71 65.87 1.76 8.65.06 17.38 1.61 25.86 3.35 68.3 14.39 123.98 33.34 186.56 63.93 3.6 1.86 7.27 3.95 10.36 6.57 10.37 8.4 7.55 19.93-5.38 22.99-99.69 8.22-217.92 17.77-317.59 9.85-6.12-.66-15.48-1.85-17.24-8.45-.81-5.64 4.62-8.72 9.65-10.56 17.55-4.65 67.28-27.51 157.09-42.85C331.46 19.35 259.2 24.74 440.5 9.48"
          ></path>
        </mask>
      </defs>
      <path
        fill="var(--color-blue-light)"
        mask="url(#signature-reveal-mask)"
        d="M199.8 96.08c-.16-33.28-7.82-29.04-16.41-94.94-.1-.75 1.23-.2 2.02 1.42 17.65 35.8 46.19 28.57 69.79 23.09 3.88-.91 8.84-1.73 9.39 3.39.43 18.6-.89 37.37-1.08 56.01-.76 15.66 4.83.6 7.74-4.5 3.08-5.61 4.41-30.03 10.82-25.81 10.36 8.82 20.72 35.36 30.7 44.6 3.73 3.74 8.59 5.88 11.65.17 6.11-11.74 3.37-26.05 4.52-38.87 2.56-36.05 36.51-34.51 53.24-8.44 12.14 18.98 24.79 40.45 22.47 63.7-2.14 21.8-18.66 35.77-40.47 35.88-7.84.24-15.93-1.64-24.06-2.62C151.52 126.54 135.55 92.6 58.45 59.3 48.02 54.2 36.9 47.1 33.41 35.64 29.05 21.61 38.97 7.47 52.13 1.56c6.83-3.14 58.46 1.71 65.87 1.76 8.65.06 17.38 1.61 25.86 3.35 68.3 14.39 123.98 33.34 186.56 63.93 3.6 1.86 7.27 3.95 10.36 6.57 10.37 8.4 7.55 19.93-5.38 22.99-99.69 8.22-217.92 17.77-317.59 9.85-6.12-.66-15.48-1.85-17.24-8.45-.81-5.64 4.62-8.72 9.65-10.56 17.55-4.65 67.28-27.51 157.09-42.85C331.46 19.35 259.2 24.74 440.5 9.48"
      ></path>
    </svg>

    <script>
      import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
      import { SplitText } from "gsap/SplitText";

      gsap.registerPlugin(ScrollTrigger);
      gsap.registerPlugin(SplitText);

      const isMobile = window.innerWidth <= 768;
      const scrollStart = isMobile ? "top 30%" : "top 80%";
      const scrollEnd = isMobile ? "bottom 10%" : "bottom 20%";

      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".about-image-stack",
          start: scrollStart,
          end: scrollEnd,
          scrub: true,
        },
      });

      tl.to(
        ".img-left",
        {
          y: -150,
          x: -300,
          rotation: -20,
          ease: "power1.out",
        },
        0
      );

      tl.to(
        ".img-right",
        {
          y: -150,
          x: 300,
          rotation: 20,
          ease: "power1.out",
        },
        0
      );

      tl.to(
        ".img-middle",
        {
          y: -150,
          ease: "power1.out",
        },
        0
      );

      document.fonts.ready.then(() => {
        const split = new SplitText(".about-description", {
          type: "words",
          aria: "hidden",
        });

        gsap.from(split.words, {
          opacity: 0,
          y: 20,
          duration: 1,
          ease: "power3.out",
          stagger: 0.08,
          scrollTrigger: {
            trigger: ".about-description",
            start: "top 80%",
            end: "bottom 20%",
            toggleActions: "play none play reverse",
            markers: false,
          },
        });
      });

      const signatureMaskPath = document.querySelector(
        ".signature-mask-path"
      ) as SVGPathElement;
      if (signatureMaskPath) {
        const pathLength = signatureMaskPath.getTotalLength();

        gsap.fromTo(
          ".signature-mask-path",
          {
            strokeDasharray: pathLength,
            strokeDashoffset: pathLength,
          },
          {
            strokeDashoffset: 0,
            ease: "power1.inOut",
            scrollTrigger: {
              trigger: ".signature",
              start: "top 80%",
              end: "top 50%",
              scrub: 1,
            },
          }
        );
      }
    </script>
  </main>

  <NavButton href="" text="Back" direction="left" position="fixed" slot="fixed" />
</BaseLayout>
