---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const notes: CollectionEntry<"notes">[] = await getCollection("notes");

const firstNote = notes[0];
---

<BaseLayout title="Portfolio van Mauro Vangheluwe">
  <main>
    <h1>Portfolio van Mauro Vangheluwe</h1>

    <p>
      Hey, ik ben Mauro, een creatieve student, DJ en digitale enthousiast. Ik
      draai muziek, ik hou van sporten en werk graag aan projecten die me
      motiveren om beter te worden in wat ik doe.
    </p>

    <h2>Projecten</h2>
    <ul class="project-list">
      {
        projects.map((project) => (
          <li class="project-li">
            <a href={`/projects/${project.id}`}>
              <div class="project-card">
                <div class="project-content">
                  <div class="project-text">
                    <strong>{project.data.title}</strong>
                    <p>{project.data.description}</p>
                  </div>
                  {project.data.image && (
                    <div class="project-image">
                      <img
                        src={project.data.image.url}
                        alt={project.data.image.alt}
                      />
                    </div>
                  )}
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>

    <p>
      <a href="/projects">
        <button>Kijk meer projecten</button>
      </a>
    </p>

    <h2 class="notes-title">Notes</h2>
    {
      firstNote && (
        <div>
          <>
            <strong>{firstNote.data.title}</strong>
            <br />
          </>
          {firstNote.data.author && (
            <span>Author: {firstNote.data.author}</span>
          )}
          <br />
          {firstNote.data.date && <span>Date: {firstNote.data.date}</span>}
          <br />
          {firstNote.data.place && <span>Place: {firstNote.data.place}</span>}
        </div>
      )
    }
    <p>
      <a href="/notes">
        <button class="button-notes">Kijk meer notes</button>
      </a>
    </p>
  </main>
</BaseLayout>
