---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const notes: CollectionEntry<"notes">[] = await getCollection("notes");
---

<BaseLayout title="Portfolio van Mauro Vangheluwe">
  <main>
    <h1>Portfolio van Mauro Vangheluwe</h1>

    <p>
      Hey, ik ben Mauro, een creatieve student, DJ en digitale enthousiast. Ik
      draai muziek, ik hou van sporten en werk graag aan projecten die me
      motiveren om beter te worden in wat ik doe.
    </p>

    <h2>Projecten</h2>
    <ul class="project-list">
      {
        projects.map((project) => (
          <li class="project-li">
            <a href={`/projects/${project.id}`}>
              <div class="project-card">
                <div class="project-content">
                  <div class="project-text">
                    <strong>{project.data.title}</strong>
                    <p>{project.data.description}</p>
                  </div>
                  {project.data.image && (
                    <div class="project-image">
                      <img
                        src={project.data.image.url}
                        alt={project.data.image.alt}
                      />
                    </div>
                  )}
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>

    <p>
      <a href="/projects">
        <button>Kijk meer projecten</button>
      </a>
    </p>

    <h2 class="notes-title">Notes</h2>
    <ul class="project-list">
      {
        notes.slice(0, 1).map((note) => (
          <li class="project-li">
            <a href={`/notes/${note.id}`}>
              <div class="project-card">
                <div class="project-content">
                  <div class="project-text">
                    <strong>{note.data.title}</strong>
                    {note.data.author && <p>Author: {note.data.author}</p>}
                    {note.data.date && <p>Date: {note.data.date}</p>}
                    {note.data.place && <p>Place: {note.data.place}</p>}
                  </div>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <p>
      <a href="/notes">
        <button class="button-notes">Kijk meer notes</button>
      </a>
    </p>
  </main>
</BaseLayout>
