---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const notes: CollectionEntry<"notes">[] = await getCollection("notes");
---

<BaseLayout title="Notities">
  <main>
    <h1>Notes</h1>
    <ul>
      {
        notes.map((note) => (
          <li>
            <a href={`/notes/${note.id}`}>
              <div class="project-content">
                <div class="project-text">
                  <strong>{note.data.title}</strong>
                  {note.data.author && <p>Author: {note.data.author}</p>}
                  {note.data.date && <p>Date: {note.data.date}</p>}
                  {note.data.place && <p>Place: {note.data.place}</p>}
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
