---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, backLink } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main>
    {
      backLink && (
        <p>
          <a href={backLink}>← Back to Notes</a>
        </p>
      )
    }

    <article>
      <h1>{frontmatter.title}</h1>
      {
        frontmatter.author && (
          <p>
            <strong>Author:</strong> {frontmatter.author}
          </p>
        )
      }
      {
        frontmatter.date && (
          <p>
            <strong>Date:</strong> {frontmatter.date}
          </p>
        )
      }
      {
        frontmatter.place && (
          <p>
            <strong>Place:</strong> {frontmatter.place}
          </p>
        )
      }

      <slot />
    </article>
  </main>
</BaseLayout>
