---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, backLink } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main>
    {
      backLink && (
        <p>
          <a href={backLink}>← Back to Projects</a>
        </p>
      )
    }

    <article>
      <h1>{frontmatter.title}</h1>
      {
        frontmatter.date && (
          <p>
            <small>{frontmatter.date}</small>
          </p>
        )
      }
      {
        frontmatter.description && (
          <p>
            <em>{frontmatter.description}</em>
          </p>
        )
      }
      {
        frontmatter.image && (
          <img
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            width="400"
          />
        )
      }

      <slot />
    </article>
  </main>
</BaseLayout>
